@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir LT Std';
  src: url('../src/assets/font/AvenirLTProBook.otf');
}

body {
  font-family: 'Avenir LT Std';
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #979798; 
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #777778; 
}